name: ln-payment
services:
    backend:
        container_name: backend
        build: ./backend
        environment:
            - SERVER_PORT=${SERVER_PORT}
            - POSTGRES_HOST=${POSTGRES_HOST}
            - POSTGRES_PORT=${POSTGRES_PORT}
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PW=${POSTGRES_PW}
            - POSTGRES_DB=${POSTGRES_DB}
        extra_hosts:
            - "host.docker.internal:host-gateway"
        ports:
            - "${SERVER_PORT}:3000"
        depends_on:
            - postgres

    postgres:
        container_name: postgres
        image: postgres:latest
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PW}
            - POSTGRES_DB=${POSTGRES_DB}
        ports:
            - "${POSTGRES_PORT}:5432"
        restart: always

    pgadmin:
        container_name: pgadmin
        image: dpage/pgadmin4:latest
        environment:
            - PGADMIN_DEFAULT_EMAIL=${PGADMIN_MAIL}
            - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PW}
        ports:
            - "${PGADMIN_PORT}:80"
        restart: always
